@model IEnumerable<GGW.Models.news>

@{
    ViewBag.Title = "Edit_news";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/icon/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/icon/js/bootstrap.min.js"></script>
<script src="~/icon/js/jquery.min.js"></script>
<div class="container-fluid">
    <div class="row" style="padding-top:10px;border-bottom:1px solid #e1e1e1">
        <a href="@Url.Action("Index","Admin")"><i class="glyphicon glyphicon-home"></i>&nbsp;首页</a><i style="color:blue">>>></i><a href="@Url.Action("Index","Admin")"><i class=""></i>编辑新闻</a>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uptime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nr)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uptime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nr)
            </td>
            <td>
                @Html.ActionLink("编辑", "Edit", new { id = item.id }) |
                @Html.ActionLink("删除", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
